<div id="company-detail" class="page-layout simple">

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="card-header-wrapper">
            <h3> Thông tin liên hệ </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div fxlayout="column" fxlayoutalign="center" ng-reflect-fx-layout="column" ng-reflect-fx-layout-align="center"
            style="flex-direction: column; width: 100%; box-sizing: border-box; display: flex; place-content: stretch center; align-items: stretch;">
            <div fxlayout="column" fxlayout.gt-xs="row" class="filters" ng-reflect-fx-layout="column"
                ng-reflect-fx-layout.gt-xs="row"
                style="flex-direction: row; box-sizing: border-box; display: flex; padding: 0px;">
                <div fxflex="70" fxlayout="column" class="job" ng-reflect-fx-layout="column" ng-reflect-fx-flex="70"
                    style="flex-direction: column; padding: 10px; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 70%;">
                    <h4>Bản đồ trực tuyến</h4>
                    <p><iframe _ngcontent-aoq-c241="" width="100%" height="550" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=52+B%C3%A0+Tri%E1%BB%87u,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;daddr=&amp;hl=en&amp;geocode=&amp;aq=t&amp;sll=21.021878,105.85108&amp;sspn=0.00676,0.013078&amp;mra=ls&amp;ie=UTF8&amp;ll=21.021878,105.85108&amp;spn=0.00676,0.013078&amp;t=m&amp;output=embed"></iframe>
                    </p>
                </div>
                <div fxflex="30" class="col-right" ng-reflect-fx-flex="30"
                    style="flex: 1 1 100%; padding: 15px; box-sizing: border-box; max-width: 30%;">
                    <div fxlayout="column" ng-reflect-fx-layout="column" style="flex-direction: column; box-sizing: border-box; display: flex; padding: 0px; margin-left: 20px;
              padding-left: 20px;">
                        <h4>Giờ làm việc</h4>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-clock"></span>
                            <span style="padding: 5px;">Thứ 2 đến thứ 6 (nghỉ vào ngày lễ, tết trong năm)</span>
                        </div>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-clock"></span>
                            <span style="padding: 5px;">Sáng: 08h00 - 12h00</span>
                        </div>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-clock"></span>
                            <span style="padding: 5px;">Chiều: 13h00 - 17h00</span>
                        </div>
                        <br>
                        <h4>Thông tin liên hệ</h4>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-user"></span>
                            <span style="padding: 5px;">Nguyen Thu Hang (Ms.)</span>
                        </div>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-flip-vertical"></span>
                            <span style="padding: 5px;">+ 84 24 3935 0082</span>
                        </div>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-flip-vertical"></span>
                            <span style="padding: 5px;">+84 (0) 97 567 4766</span>
                        </div>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-globe"></span>
                            <a style="padding: 5px;">https://mcg.com.vn</a>
                        </div>
                        <div fxlayout="row" fxflex="" class="time-config" ng-reflect-fx-layout="row"
                            ng-reflect-fx-flex=""
                            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 1e-09px; padding-bottom: 10px;">
                            <span class="k-icon k-i-globe"></span>
                            <a style="padding: 5px;" href="mailto:nguyenthuhang@mcg.com.vn">nguyenthuhang@mcg.com.vn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->



</div>